:root {
    --primary-color: rgb(24, 22, 22);
    --secondry-color: rgb(97, 119, 83);
    --tertiary-color: hsl(180, 2%, 59%);
}

body {
    background-color: var(--tertiary-color);
}

#header {
    padding: 0;
}

#title {
    font-family: "Inknut Antiqua", serif;
    font-size: 50px;
    margin-top: 40px;
}

#buttons {
    padding: 1em;
    display: inline-block;
}

.button-nav {
    list-style: none;
    border: solid 1px black;
    border-radius: 20px;
    display: inline-block;
}

#span-title {
    color: white;
}

#nav-bar {
    background-color: var(--secondry-color);
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;
}

.button-nav {
    padding: 0.5em;
    background-color: var(--secondry-color);
    color: var(--primary-color);
    margin: 5px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}

.text-pic-section {
    font-weight: 200;
    background-image: url("https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8aGVhbHRoeSUyMGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60");
    position: relative;
    height: 20em;
    width: 50em;
}

.text-pic-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.text-img {
    color: var(--primary-color);
    position: top;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
            1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    bottom: 0;
    font-size: 30px;
    width: 150px;
    margin-left: 1.5em;
}

.sub-title {
    background-color: #283618;
    padding-left: 5%;
}

.text {
    padding: 0 5% 0 5%;
    color: black;
}

#What-we-do {
    margin-top: 2em;
}

.wrapper {
    margin: 20px;
}

.container {
    /* background-color: white; */
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    ;
    grid-template-rows: auto;
    grid-gap: 20px;
}

article {
    /* background-color: #283618; */
    background-color: var(--secondry-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: auto;
    padding: 5%;
    border-radius: 10px;
}

h2 {
    color: aliceblue;
    text-align: center;
    padding: 10px;
    border: solid grey;
}

p {
    color: aliceblue;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#grow-search {
    background-color: var(--tertiary-color);
}

#grow-list {
    background-color: var(--tertiary-color);
}

::-moz-selection {
    /* Code for Firefox */
    color: black;
    background-color: var(--tertiary-color);
}

::selection {
    color: black;
    background-color: var(--tertiary-color);
}