:root{
    /* display: grid; */
        /* width: 100%; */
        /* height: 250px; */
        /* grid-template-areas:
            "head nav nav"
            "main main main"; */
    --primary-color:rgb(24, 22, 22);
    --secondry-color: rgb(97, 119, 83);
    --tertiary-color:hsl(180, 2%, 59%);
  }
  body{
    background-color: var(--tertiary-color);
  }
  #header{
    /* height: 7em; */
    /* margin: 0 1em ; */
    padding: 0;
    
  }
#title {
    /* grid-area: head; */
    font-family: 'Inknut Antiqua', serif;
    font-size: xx-large;

     /* margin: 0.5em;
    margin-left: 1em;
    display: inline-block; */
    margin-top: 0;
    
    

}

    
#buttons {
    
    padding: 1em;
    /* grid-area: nav; */
    display: inline-block;
   
}

.button-nav {
    list-style: none;
    border : solid 1px black;
    border-radius: 20px;
    display: inline-block;
    
    
}
#span-title{
    color: white;
}

#nav-bar{
    background-color: var(--secondry-color);
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2em;

    }
.button-nav {
    padding: 0.5em;
            background-color: var(--secondry-color);
            color: var(--primary-color);
            margin: 5px;
        }
a{
    color: var(--primary-color);
    text-decoration: none;
    font-size:small;
    font-weight: bold;
}













/* * #grow {
    display: grid;
    grid-template-areas: ;
}

section {
    display: flex;
}

img {
    display: ;
} */ 